<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      Todo List
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page4">
  <ion-item color="none" id="todo-list-item3" *ngFor="let item of items"  on-click="goToRoute(item.idRt,item.idTask)">
    <ion-icon color="subtle" large item-start name='list'></ion-icon>
    <h2>{{item.task_name}}</h2>
    <p style="color: red">{{item.status}}</p>
  </ion-item>
</ion-content>