page-view-all {
    tbody tr td {
        text-align: center;
        font-size:13px;
        padding: 5px 0;
      }
  
      .text-input-md{
          margin: 0 !important;
      }
      
    .swiper-slide {
        overflow-y: scroll;
        display: block;
    }

    .pBT{
        padding: 10px 0;
    }
    .answer{
        background: #DDD;
        padding: 10px;
        border-radius: 10px;
    }
    ion-segment {
        display: block;
        white-space: nowrap;
        font-size: 0;
        overflow: auto;
        
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
        
        ion-segment-button.segment-button {
            display: inline-block;
            min-width: 100px;
            width: auto;
        }
    }
}

    