<!--
  Generated template for the EditoutletPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Outlet</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
  <ion-label color="danger" stacked>Upload Photo</ion-label>
  <!-- <ion-input type="file"  success block (change)="toUploadPhoto($event)"></ion-input> -->
  <button ion-button color="danger" block (click)="presentActionSheet()">
    Upload Foto
  </button>

  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <img [src]="img" (click)="toGetCamera($event)" src="https://ionicframework.com/dist/preview-app/www/assets/img/venkman.jpg">
      </ion-col>
      <ion-col col-8>
        <ion-item id="updateOutletProfile-input10">
          <ion-label color="danger" floating>Outlet Name.</ion-label>
          <ion-input required type="text" [(ngModel)]="name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item id="updateOutletProfile-input11">
    <ion-label color="danger" floating>Contact No.</ion-label>
    <ion-input type="number" [(ngModel)]="contact_number"></ion-input>
  </ion-item>
  <ion-item id="updateOutletProfile-input11">
    <ion-label color="danger" floating>Pulsa Digital No.</ion-label>
    <ion-input type="number" readonly [(ngModel)]="digital_number"></ion-input>
  </ion-item>
  <ion-item id="updateOutletProfile-input13">
    <ion-label color="danger" floating>Address</ion-label>
    <ion-textarea type="text" [(ngModel)]="address"></ion-textarea>
  </ion-item>

  <ion-item id="updateOutletProfile-input12">
    <ion-label color="danger" floating>Cluster</ion-label>
    <ion-input type="text" readonly [(ngModel)]="clusters" ></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label color="danger" floating>Type Outlet</ion-label>
    <ion-select [(ngModel)]="type">
      <ion-option *ngFor="let i of type_outlet" value="{{i.id}}" >{{i.name}}</ion-option>
    </ion-select>
  </ion-item>
  
  <ion-item id="updateOutletProfile-input12">
    <ion-label color="danger" floating>Municipio</ion-label>
    <ion-input type="text" readonly [(ngModel)]="municipio" ></ion-input>
  </ion-item>

  <ion-item id="updateOutletProfile-select5">
    <ion-label color="danger" floating>Posto Administativo</ion-label>
    <ion-select  (ionChange)="getAreaClusterSuco()" [(ngModel)]="p">
      <ion-option *ngFor="let i of posto_adm" value="{{i.id}}" >{{i.posto_adm}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item id="updateOutletProfile-select5">
    <ion-label color="danger" floating>Suco</ion-label>
    <ion-select [(ngModel)]="s" (ionChange)="getAreaClusterAldeia()">
      <ion-option *ngFor="let i of suco" value="{{i.id}}">{{i.suco}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item id="updateOutletProfile-select5">
    <ion-label color="danger" floating>Aldeia</ion-label>
    <ion-select [(ngModel)]="area" >
      <ion-option *ngFor="let i of aldeias" value="{{i.a_id}},{{i.m_id}},{{i.pa_id}},{{i.s_id}}">{{i.aldeia}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label color="danger" floating>Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <button id="updateOutletProfile-button5" (click)="toGetLocation()" color="secondary" ion-button success block>
      Get Current GPS Location
    </button>
  </ion-item>

  <ion-item>
    <ion-label color="danger" floating>Latitude</ion-label>
    <ion-input type="text" [(ngModel)]="lat"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="danger" floating>Longitude</ion-label>
    <ion-input type="text" [(ngModel)]="lng"></ion-input>
  </ion-item>

  <button id="updateOutletProfile-button6" ion-button color="danger" block (click)="addOutlet()">
    Save
  </button>

</ion-content>