<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      Outlet
    </ion-title>
    <ion-buttons end>
      <button (click)="addOutlet()" ion-button icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)">
</ion-searchbar>
</ion-header>

<ion-content padding id="page6">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-list id="outlet-list4">
    <ion-item color="none" id="outlet-list-item10" *ngFor="let item of items" (click)="toGetOutlet(item.id)">
      <ion-avatar item-left>
        <img src="{{item.img}}" />
      </ion-avatar>
      <h2>{{item.name}}</h2>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>  