<ion-header>
  <ion-navbar color="danger">
    <ion-title>Files</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let x of dirs" (click)="open(x)">
    <ion-icon name='images' class="file-color" item-start></ion-icon>
    {{x.name}}
  </ion-item>
</ion-content>
